.connectionOverview{
    border-bottom: 1px lightgray solid;
    padding: 20px 0;
}
.select-pms-label {
    font-size: 30px;
    margin-bottom: 20px
}

.select-pms-label::before, .select-pms-label::after {
    margin-top: 10px;
}

.selectedPMSOption {
    background: #00ff805c;
}

.page-content-container {
    min-height: 95vh;
}

.page-content-container-core {
    min-height: 85vh;
}